In [1]:
import pandas as pd

In [2]:
enz_datafile = '../Data/Enzyme-Dataset-Modified.csv'
enz_algn_datafile = '../Data/Modified-Enzyme-Alignment.txt'

In [3]:
df_enz = pd.read_csv(enz_datafile,header=None)

In [4]:
df_enz_algn = pd.read_csv(enz_algn_datafile,header=None)

In [5]:
all(df_enz[0].values == df_enz_algn[0].values)

True

# Get rid of brackets, open quotes

In [6]:
def func_edit(row):
    return row.replace('(','').replace('"','').replace(')','')

In [7]:
df_enz[0] = df_enz[0].apply(func_edit)
df_enz_algn[0] = df_enz[0].apply(func_edit)

# Map enz_names to allias

In [8]:
d = {0:[f'enz_{i}' for i in range(len(df_enz))],
    1:df_enz[0].values}
df = pd.DataFrame(d)

In [9]:
df.to_csv('../Data/TE_ML_Data/EnzymeNameMap.csv',header=False,index=False)

In [10]:
df_enz[0] = df[0]

In [11]:
df_enz_algn[0] = df[0]

# Save Multiclass Classification File

In [12]:
df_enz.to_csv('../Data/TE_ML_Data/EnzymeDataset.csv',index=False,header=False)

In [13]:
df_enz_algn.to_csv('../Data/TE_ML_Data/EnzymeDatasetAligned.csv',index=False,header=False)

# Save Binary Classification File

In [14]:
def func(val):
    if val==1 or val==2:
        return 0
    else:
        return 1

In [15]:
df_enz[2] = df_enz[2].apply(func)

In [16]:
df_enz_algn[2] = df_enz_algn[2].apply(func)

In [17]:
df_enz.to_csv('../Data/TE_ML_Data/EnzymeDatasetBinary.csv',index=False,header=False)

In [18]:
df_enz_algn.to_csv('../Data/TE_ML_Data/EnzymeDatasetAlignedBinary.csv',index=False,header=False)

# Save Regression File

In [19]:
df_reg = pd.read_excel('../Data/ThioesteraseProductFractionLabel.xlsx',header=None)

In [30]:
df_reg

                                       0         1
0               Cuphea_palustris_CpFatB1  0.980000
1                        Ulmus_americana  0.810000
2                       Iris_germanica_1  0.050000
3                       Iris_germanica_2  0.090000
4                      Sorghum_bicolor_1  0.060000
..                                   ...       ...
111             UcFatB1R197M-M199H-T231K  0.091167
112                    UcFatB1197M-M199H  0.405450
113                         UcFatB1T231K  0.827146
114  Prunus_sibirica_L._Siberian apricot  0.006725
115       Auxenochlorella_protothecoides  0.012846

[116 rows x 2 columns]

In [31]:
df

           0                                 1
0      enz_0             A._hypogaea_l._AhFatA
1      enz_1              Arabidopsis_thaliana
2      enz_2    Auxenochlorella_protothecoides
3      enz_3           Brassica_juncea_BjFatB1
4      enz_4           Brassica_juncea_BjFatB2
..       ...                               ...
111  enz_111          UcFatB1R197M-M199H-T231K
112  enz_112                      UcFatB1T231K
113  enz_113                   Ulmus_americana
114  enz_114  Umbellularia_californica_UcFatB1
115  enz_115  Umbellularia_californica_UcFatB2

[116 rows x 2 columns]

In [21]:
df_reg[0] = df_reg[0].apply(func_edit)

In [23]:
set(df_reg[0].values).difference(set(df[1].values))

{'Cuphea_carthagenesis_CcFatB1',
 'Cuphea_inflata_Ci1FatB1',
 'Sorghum_bicolor_3'}

In [24]:
set(df[1].values).difference(set(df_reg[0].values))

{'Cuphea_carthagenesis_CcFatB',
 'Cuphea_viscosissima_CvFatB1',
 'Cuphea_viscosissima_CvFatB2'}

In [32]:
df_enz_reg

           0                                                  1       1_x
0     enz_23  MLLTAITTVFVAPEKRWTMFDRKSKRPNMLMDSFGLERVVQDGLVF...  0.980000
1    enz_113  MLPDWSMLLAAITTLFLAAEKQWMMLDWKPKRPDMLVDPFGLGRFV...  0.810000
2     enz_81  MLPDWSVLLAAITTIFLAAEKQWTLIDWKRGGPDMLTDAFGLGKII...  0.050000
3     enz_82  MLPDWSVLLAAITTIFLAAEKQWTLIDWKRGGPDMLSDAFGLPKII...  0.090000
4    enz_107  MLPDWSMLLAAVTTIFLAAEKQWTLLDWKPKKPDMLVDTFGFGRII...  0.060000
..       ...                                                ...       ...
108  enz_111  MTSLASAFCSMKAVMLARDGRGMKPRSSDLQLRAGNAPLKMINGTK...  0.091167
109  enz_110  MTSLASAFCSMKAVMLARDGRGMKPRSSDLQLRAGNAPLKMINGTK...  0.405450
110  enz_112  MTSLASAFCSMKAVMLARDGRGMKPRSSDLQLRAGNAPLKMINGTK...  0.827146
111   enz_87  MVATAATSSIFPIPSPNQDSGAKNAKLGTGSAGLGLKSKSASGSLQ...  0.006725
112    enz_2  MVENKRVFLEEHRIRGNEAGPSQHVTIAAVANILQEAAGNHAVAMW...  0.012846

[113 rows x 3 columns]

In [25]:
df_enz_reg = df_reg.merge(df,left_on=0,right_on=1).loc[:,['0_y','1_x']].merge(df_enz,left_on='0_y',right_on=0).loc[:,[0,1,'1_x']]

In [26]:
df_enz_reg_algn = df_reg.merge(df,left_on=0,right_on=1).loc[:,['0_y','1_x']].merge(df_enz_algn,left_on='0_y',right_on=0).loc[:,[0,1,'1_x']]

In [27]:
df_enz_reg.to_csv('../Data/TE_ML_Data/EnzymeDatasetRegression.csv',index=False,header=False)

In [28]:
df_enz_reg_algn.to_csv('../Data/TE_ML_Data/EnzymeDatasetAlignedRegression.csv',index=False,header=False)