In [1]:
datafile_class = '../Data/Enzyme-Dataset-Modified.csv'
datafile_reg = '../Data/ThioesteraseProductFractionLabel.xlsx'
output_dir = '../Data/Labels/'
outputfile_class = output_dir + 'Labels_Classification.csv'
outputfile_reg = output_dir + 'Labels_Regression.csv'

In [2]:
import pandas as pd

In [3]:
def func_edit(row):
    return row.replace('(','').replace('"','').replace(')','')

In [4]:
df_class = pd.read_csv(datafile_class,header=None,usecols=[0,2])
df_class[0] = df_class[0].apply(func_edit)

df_class.to_csv(outputfile_class,index=False,header=False)

In [5]:
df_class.head()

                                0  2
0           A._hypogaea_l._AhFatA  1
1            Arabidopsis_thaliana  1
2  Auxenochlorella_protothecoides  1
3         Brassica_juncea_BjFatB1  1
4         Brassica_juncea_BjFatB2  1

In [7]:
df_reg.merge(df_class,left_on=0,right_on=0)

                                       0         1  2
0               Cuphea_palustris_CpFatB1  0.980000  3
1                        Ulmus_americana  0.810000  3
2                       Iris_germanica_1  0.050000  1
3                       Iris_germanica_2  0.090000  1
4                      Sorghum_bicolor_1  0.060000  1
..                                   ...       ... ..
108             UcFatB1R197M-M199H-T231K  0.091167  1
109                    UcFatB1197M-M199H  0.405450  2
110                         UcFatB1T231K  0.827146  3
111  Prunus_sibirica_L._Siberian apricot  0.006725  1
112       Auxenochlorella_protothecoides  0.012846  1

[113 rows x 3 columns]

In [6]:
df_reg = pd.read_excel(datafile_reg,header=None)
df_reg[0] = df_reg[0].apply(func_edit)
# df_reg.to_csv(outputfile_reg,index=False,header=False)

# Make Binary Labels

In [9]:
df = pd.read_csv(outputfile_class,header=None)

In [10]:
def func(val):
    if val==1 or val==2:
        return 0
    else:
        return 1

df[1] = df[1].apply(func)

In [11]:
df.to_csv(output_dir + 'Labels_BinaryClassification.csv',index=False,header=False)